* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cronometro {
    margin: 30px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px black;
}

a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

a:hover {
    color: rgb(185, 185, 185);
    text-decoration: underline;
}

.btn button {
    height: 30px;
    width: 88px;
    cursor: pointer;
    border: none;
    color: white;
    transition: 0.25s;
    border-radius: 3px;
}

#iniciar {
    background-color: green;
}

#iniciar:hover {
    background-color: rgb(57, 170, 57);
}

#pausar {
    background-color: gray;
}

#pausar:hover {
    background-color: rgb(187, 187, 187);
}

#parar {
    background-color: red;
}

#parar:hover {
    background-color: rgb(255, 78, 78);
}